{% if page.sponsors %}
{% assign tiers=site.data.[page.sponsors] %}
  <div class="columns is-multiline">
    {% for tier in tiers %}
      <div class="column is-full mb-6">
        <p class="title is-4">
          {{ tier.tier_name }}<span class="icon is-large gh-sponsor"><i class="fas fa-seedling" style="color:#32CD32"></i></span>
        </p>
        <div class="columns is-multiline is-centered">
          {% for sponsor in tier.sponsors %}
            <div class="column is-full">
              <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-96x96">
                      <img class="is-rounded" src="{{ sponsor.image }}" alt="{{ sponsor.name }}">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p id="profile">
                        <strong>{{ sponsor.name }}</strong> <small>{{ sponsor.subtitle }}</small>
                        <br>
                        <span class="is-size-7">{{ sponsor.role }}</span>
                        <p class="is-size-7-mobile">{{ sponsor.profile | markdownify | remove: '<p>' | remove: '</p>' }}</p>
                      </p>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        {% if sponsor.website %}
                          <a class="level-item" aria-label="Sponsor Website" href="{{ sponsor.website }}" target="_blank">
                            <span class="icon is-small">
                              <i class="fas fa-link" aria-hidden="true"></i>
                            </span>
                          </a>
                        {% endif %}

                        {% if sponsor.gscholar %}
                          <a class="level-item" aria-label="Google Scholar" href="{{ sponsor.gscholar }}" target="_blank">
                            <span class="icon is-small">
                              <i class="fab fa-google" aria-hidden="true"></i>
                            </span>
                          </a>
                        {% endif %}

                        {% if sponsor.email %}
                          <a class="level-item" aria-label="Email" href="mailto:{{ sponsor.email }}">
                            <span class="icon is-small">
                              <i class="far fa-envelope" aria-hidden="true"></i>
                            </span>
                          </a>
                        {% endif %}
                      </div>
                    </nav>
                  </div>
                </article>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

<!-- DEFINE EXPANDABLE PROFILE TEXTS adapted from
     source:https://codepen.io/dev_jonas/pen/dyPxyvp-->
<!-- CSS -->
<style>
  /* expandable text */
  .expand {
    margin: 22px auto;
    max-height: 170px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }

  .expand.open {
    max-height: 100rem;
    transition: max-height 0.5s cubic-bezier(0.9, 0, 0.8, 0.2);
  }

  /* Text */
  @keyframes open {
    from {
      line-clamp: 5;
      -webkit-line-clamp: 5;
    }
    to {
      line-clamp: initial;
      -webkit-line-clamp: initial;
    }
  }

  @keyframes close {
    from {
      line-clamp: initial;
      -webkit-line-clamp: initial;
    }
    to {
      line-clamp: 5;
      -webkit-line-clamp: 5;
    }
  }

  text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 12px 0;
    animation: close 0.1s linear 0.1s forwards;
    font-size: small;
  }
  .open text {
    animation: open 0.1s linear 0s forwards;
  }

  .arrow {
    border: solid #000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .open .arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 5px;
  }
</style>
<!-- JAVASCRIPT -->
<script>
const buttonList= document.querySelectorAll(".expand");
var i;

for (i = 0; i < buttonList.length; i++) {
  buttonList[i].addEventListener("click", function() {
    this.dataset.isOpen = Math.abs(this.dataset.isOpen - 1);
    this.dataset.isOpen==1 ? this.classList.add("open") : this.classList.remove("open");
  });
}
</script>
